.site {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 0;
}

header {
    height: 55px;
    background-color: rgb(10, 32, 46);
    z-index: 9999;
    color: white;
}

.sidenav {
    background-color: rgb(10, 32, 46);
    color: white;
}

.sidenav li>a, nav ul a {
    color: white;
}

.sidenav li>a:hover, nav ul a:hover {
    color: rgb(136, 111, 250);
    background-color: #00e1ff0a;
}

.sidenav li>a:active, nav ul a:active {
    color: rgb(196, 95, 0);
}

main {
    flex: 1 0 auto;
}


*::before, *::after {
    -webkit-box-sizing: unset!important;
    box-sizing: unset!important;
    }

.flash_alert {
    color: #910000;
    padding: 10px 15px;
    margin: 15px;
}

.jumbotron {
    background-image: url(/static/images/image_1.jpg);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    max-height: 450px;
    min-height: 28vh;
    height: auto;
    width:auto;
    overflow-y: hidden;
}

section {
    padding: 25px;
    margin: 0;
    width: 100%;
}

#logo {
    color: white;
    font-size: 2em;
    float: left;
    padding: 10px 25px 5px 25px;
}

nav {
 z-index: 99999;
 background-color: rgb(20, 32, 43);
 height: 55px;
}

h1 {
    display: unset;
    margin-block-start: unset;
    margin-block-end: unset;

    font-weight: bold;
}

h1 { 
    font-size: 2em!important;
    text-align: center!important;
    margin: 25px!important;
}

div.h1 { 
    font-size: 2em!important;
    text-align: center!important;
    margin: 25px 0!important;
    display: inline-block!important;
    width: 100%;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
    font-weight: 800;
}
h4, h5, h4 a, h5 a {
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(196, 95, 0);
    padding: 20px 0 0 0;
}

p {
    line-height: 1.2em;
    text-align: justify;
}

div.event-title.indigo-text.text-lighten-1.collapsible-header, .collapsible {
    border:unset;
    box-shadow: unset;
}

#section_one {
    background-color: rgb(208, 218, 223);
    min-height: 29vh;    
    padding: 25px;
}

div#section_one {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    width:100%;
    min-height: 29vh;
}

div#section_one p{
    font-size: 1em;
    text-align: justify;
    width:100%;
    font-weight: 400;
    line-height: 1.4;
}

.fit {
    height: 100%;
}
#section_two {
    background-image: url(/static/images/image_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 36vh;
}

.overlay {
    background: rgba(21, 26, 45, 0.959);
    color: white;
    text-align: justify;
    width: 100%;
    min-height: 36vh;
    margin:unset;
}

.page-footer {
    background: rgb(12, 18, 32)!important;
    color: rgb(115, 124, 139);
    line-height: 1em;
    text-align: center;
    font-size: 0.75em;
    min-height: 50px!important;
    padding: 10px 5px;
}

.page-padding {
    padding: 0 35px;
}

.event-title, .event-title a {
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    padding: 7px 25px;
    text-shadow: 2px 2px 2px rgba(55, 70, 73, 0.411);
}

.event-description {
    padding: 7px 35px;
}

.type-description {
    width: auto;
    padding: 5px 0 0 0;
    display: inline-flex;
    margin-bottom: 10px;

}

h3 a {
    color: indigo;
}
.type-description a {
    color: black;
}

.type-description a:hover, h3 a:hover {
    color: rgb(87, 65, 207);
}

div.type-buttons {
    width: auto;
    display: inline-flex;
    margin: 0 10px 15px 10px;
    vertical-align: bottom;
}

.type-background {
    background-color: rgba(237, 236, 243, 0.501);
    margin: 3px;
}

tr.type-table {
    border: unset;
}

table.table-centered {
    margin: 0 25%
}

.description {
    border: 1px solid rgb(207, 218, 219);
}

.event-town, .top-spacing {
    display: inline-flex;
    padding: 7px;
}

.event-time, .event-date, .event-heading, .event-type {
    display: inline-flex;
    padding: 0 5px;
    color:bisque;
}

.address {
    line-height: 1.25;
}

.centered {
 margin: 0 15%;
}

div.bottom {
    vertical-align: middle;
    height: 30px;
    margin: 15px;
}

.card {
    width: 100%;
}

.benefits p {
    line-height: 1.7em;
    font-weight: 300;
    font-size: 1.1em;
    display: inline-block;
}

.vertical-spacing a {
    padding: 15px 0;
}

a.btn-large, a.btn-small, button, .btn-large, .btn-small  {
    border-radius: 5px;
    margin-bottom: 10px
}

.box {
    min-width: 30%;
    width:auto;
    height: auto;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.555);
    padding:15px 20px;
    border-radius: 15px;
    display: flexbox;
    margin:2% 20%;
    text-align: center;
    border-top: 2px white solid;
    border-left: 2px white solid;
    background-color: rgb(226, 225, 225);
} 

.box-form {
    min-width: 60%;
    width:auto;
    height: auto;
    padding:15px 20px;
    border-radius: 15px;
    margin:2% 20%;
    text-align: center;
    border-top: 2px white solid;
    border-left: 2px white solid;
    background-color: rgb(225, 225, 225);
} 

form.no-style, form.no-style.validate {
    border: unset;
    box-shadow: unset;
    background-color: unset;
}

input[type=text]:not(.browser-default):disabled, input[type=text]:not(.browser-default):disabled+label, input[type="checkbox"] {
    color:black;
    border: unset;
    text-align: left;
    border-radius: 10px;
    padding: 2px 5px;
    background-color: rgb(226, 226, 226);
}

input[type=text]:not(.browser-default), input[type="checkbox"], .select-wrapper.invalid>input.select-dropdown, .select-wrapper.invalid>input.select-dropdown:focus, input.valid[type=password]:not(.browser-default), input.invalid[type=password]:not(.browser-default), input[type=password]:not(.browser-default), input.invalid[type=text]:not(.browser-default) {
    color: black;
    text-align: left;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

input[type=password]:not(.browser-default).validate+label, input[type=password]:not(.browser-default).validate+label, input[type=text]:not(.browser-default)+label {
    color: black;
    text-align: left;
    border-radius: 10px;
}

input[type=password]:not(.browser-default).validate+label, input[type=password]:not(.browser-default).validate+label {
    color: black;
    text-align: left;
    border-radius: 10px;
}

.input-field>label {
    color: black;
}

label {
    font-size: .8rem;
    color: #000000;
    text-align: left;
}

.prefix {
    font-size: larger;
}

.no-justify {
    text-align: unset;
}

.rtxt {
    color: #970101;
}

.datepicker-date-display {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    background-color: rgb(87, 65, 207);
    color: #fff;
    padding: 20px 22px;
    font-weight: 500;
}

.datepicker-table td.is-selected, button, .btn:submit, td.is-selected, button:focus {
    background-color: rgb(87, 65, 207)!important;
    color: #fff;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: rgb(87, 65, 207);
    padding: 0 1rem;
}

.datepicker-table td.is-today, .datepicker-day-button.is-today {
    color: rgb(87, 65, 207);
    font-weight: 900;
    background-color: rgba(123, 123, 123, 0.25);
}

.datepicker-day-button:focus {
    background-color: rgba(43, 49, 161, 0.25);
    }

button:focus {
    outline: none;
    background-color: rgb(87, 65, 207);
    color: white;
    margin-bottom: 10px;
    }

.front_button {
    outline: none;
    background-color: rgb(87, 65, 207);
    color: white;
}


button.search {
    display: inline;
}

input[type=search]:not(.browser-default)::placeholder, textarea.materialize-textarea::placeholder {
    background-color: rgba(216, 216, 216, 0.541);
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 10px;
    outline: none;
    height: 1rem;
    width: 75%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    color: rgba(57, 43, 139, 0.651);
    padding: 15px;
    display: inline;
    }

input.search {
    display: inline;
}

input.textarea {
    border-radius: 10px;
    padding: 0 10px;
    width: 100%;
}

.hidden {
    display: none;
}

label, input[type=text] {
    padding: 0 5px;
    text-indent: 10px;
}

a.clear {
    background-color: lightgrey;
    border: 1px solid rgb(197, 197, 197);
    color: black;
    text-shadow: white 0.5px 0.5px 1px;
    border-radius: 3px;
    font-size: 0.80rem;
    padding: 2px;
}

a.clear:hover {
    background-color: rgb(87, 65, 207);
    color: white;
    border: 1px solid rgb(87, 65, 207);
}

