.site {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 0;
}

header {
    height: 55px;
    background-color: rgb(10, 32, 46);
    z-index: 9999;
    color: white;
}

.sidenav {
    background-color: rgb(10, 32, 46);
    color: white;
}

.sidenav li>a, nav ul a {
    color: white;
}

.sidenav li>a:hover, nav ul a:hover {
    color: rgb(136, 111, 250);
    background-color: #00e1ff0a;
}

.sidenav li>a:active, nav ul a:active {
    color: rgb(196, 95, 0);
}

main {
    flex: 1 0 auto;
}


*::before, *::after {
    -webkit-box-sizing: unset!important;
    box-sizing: unset!important;
    }

.flash_alert {
    color: #910000;
    padding: 10px 15px;
    margin: 15px;
}

.jumbotron {
    background-image: url(/static/images/image_1.jpg);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    max-height: 450px;
    min-height: 28vh;
    height: auto;
    width:auto;
    overflow-y: hidden;
}

.section {
    padding-top: unset; 
    padding-bottom: unset;
    }

section {
    padding: 25px;
    margin: 0;
    width: 100%;
}

.brand-logo {
    color: white;
    font-size: 2em;
    float: left;
    padding: 10px 25px 5px 25px;
    margin-left: 25px;
}

nav {
 z-index: 99999;
 background-color: rgb(20, 32, 43);
 height: 55px;
}

h1 {
    display: unset;
    margin-block-start: unset;
    margin-block-end: unset;

    font-weight: bold;
}

h1 { 
    font-size: 2em!important;
    text-align: center!important;
    margin: 25px!important;
}

div.h1 { 
    font-size: 2em!important;
    text-align: center!important;
    margin: 25px 0!important;
    display: inline-block!important;
    width: 100%;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
    font-weight: 800;
}
h4, h5, h4 a, h5 a {
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(196, 95, 0);
    padding: 20px 0 0 0;
}

p {
    line-height: 1.2em;
    text-align: justify;
}

div.event-title.indigo-text.text-lighten-1.collapsible-header, .collapsible {
    border:unset;
    box-shadow: unset;
    font-size: 1.1rem;
    padding: unset;
}

#section_one {
    background-color: rgb(208, 218, 223);
    min-height: 29vh;    
    padding: 25px;
}

div#section_one {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    width:100%;
    min-height: 29vh;
}

div#section_one p{
    font-size: 1em;
    text-align: justify;
    width:100%;
    font-weight: 400;
    line-height: 1.4;
}

.fit {
    height: 100%;
}
#section_two {
    background-image: url(/static/images/image_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 36vh;
}

.overlay {
    background: rgba(21, 26, 45, 0.959);
    color: white;
    text-align: justify;
    width: 100%;
    min-height: 36vh;
    margin:unset;
}

.page-footer {
    background: rgb(12, 18, 32)!important;
    color: rgb(115, 124, 139);
    line-height: 1em;
    text-align: center;
    font-size: 0.75em;
    min-height: 50px!important;
    padding: 10px 5px;
}

.page-padding {
    padding: 0 35px;
}

.collapsible-header i {
    padding: 0;
    width: 1rem;
    font-size: 1.6rem;
    display: inline-block;
    text-align: center;
    margin-right: 0;
    }

i.right {
    float: right;
    margin-left: unset;
    }

.event-title, .event-title a {
    color:rgb(255, 254, 214);
    font-size: 1.1rem;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(15, 7, 58, 0.493);
    width: 100%;
    margin-left: unset;
    margin-right: unset;
    margin-block-start: 0;
    margin-block-end: 0;
}


.event-align, .event-align a, .event-align p {
    color:rgb(214, 255, 255);
    font-size: 1rem;
    line-height: 1.1rem!important;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(15, 7, 58, 0.493);
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;

}

p.event-description {
    padding: 7px 2%;
}

.type-description {
    width: auto;
    padding: 5px 0 0 0;
    display: inline-flex;
    margin-bottom: 10px;

}

h3 a {
    color: indigo;
}
.type-description a {
    color: black;
}

.type-description a:hover, h3 a:hover {
    color: rgb(87, 65, 207);
}

div.type-buttons {
    width: auto;
    display: inline-flex;
    margin: 0 10px 15px 10px;
    vertical-align: bottom;
}

.type-background {
    background-color: rgba(237, 236, 243, 0.501);
    margin: 3px;
}

tr.type-table {
    border: unset;
}

table.table-centered {
    margin: 0 25%
}

.description {
    border: 1px solid rgb(207, 218, 219);
}

.event-town, .top-spacing {
    display: inline-flex;
}

a.event-time, a.event-date, a.event-heading {
    padding: 0 5px;
    color:rgb(255, 255, 255);
}

.event-type {
    display: inline-flex;
    padding: 0 5px;
    color:rgb(255, 255, 255);
}

.hightlight1, .hightlight1 a {
    color: lavender!important;
    line-height: 1.2em!important;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(15, 7, 58, 0.493);
    width: 100%;
    display: inline-block;
}

.address {
    line-height: 1.25;
}

.centered {
 margin: 0 15%;
}

div.bottom {
    vertical-align: middle;
    height: 30px;
    margin: 15px;
}

.card {
    width: 100%;
}

.benefits p {
    line-height: 1.7em;
    font-weight: 300;
    font-size: 1.1em;
    display: inline-block;
}

.vertical-spacing a {
    padding: 15px 0;
}

a.btn-large, a.btn-small, button, .btn-large, .btn-small  {
    border-radius: 5px;
    margin-bottom: 10px
}

.box {
    min-width: 30%;
    width:auto;
    height: auto;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.555);
    padding:15px 20px;
    border-radius: 15px;
    display: flexbox;
    margin:2% 20%;
    text-align: center;
    border-top: 2px white solid;
    border-left: 2px white solid;
    background-color: rgb(226, 225, 225);
} 

.box-form {
    min-width: 60%;
    width:auto;
    height: auto;
    padding:15px 20px;
    border-radius: 15px;
    margin:2% 20%;
    text-align: center;
    border-top: 2px white solid;
    border-left: 2px white solid;
    background-color: rgb(225, 225, 225);
} 

form.no-style, form.no-style.validate {
    border: unset;
    box-shadow: unset;
    background-color: unset;
}

input[type=text]:not(.browser-default):disabled, input[type=text]:not(.browser-default):disabled+label, input[type="checkbox"] {
    color:black;
    border: unset;
    text-align: left;
    border-radius: 10px;
    padding: 2px 5px;
    background-color: rgb(226, 226, 226);
}

input[type=text]:not(.browser-default), input[type="checkbox"], .select-wrapper.invalid>input.select-dropdown, .select-wrapper.invalid>input.select-dropdown:focus, input.valid[type=password]:not(.browser-default), input.invalid[type=password]:not(.browser-default), input[type=password]:not(.browser-default), input.invalid[type=text]:not(.browser-default) {
    color: black;
    text-align: left;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
}

input[type=password]:not(.browser-default).validate+label, input[type=password]:not(.browser-default).validate+label, input[type=text]:not(.browser-default)+label {
    color: black;
    text-align: left;
    border-radius: 10px;
}

input[type=password]:not(.browser-default).validate+label, input[type=password]:not(.browser-default).validate+label {
    color: black;
    text-align: left;
    border-radius: 10px;
}

.input-field>label {
    color: black;
    margin-top: -10px;
}

label.event {
    color: black;
    margin-top: -50px;
}

div.input {
    color:rgb(53, 53, 53);
    border: unset;
    text-align: left;
    border-radius: 10px;
    padding: 8px 10px;
    background-color: rgb(233, 233, 233);
    height: 47px;
    width: 100%;
    text-indent: 50px;
    margin-top:10px;
    vertical-align: middle;
}

div.input-disabled {
    color:rgb(255, 255, 255);
    border: 0.6px rgb(173, 173, 173) inset;
    text-align: left;
    border-radius: 10px;
    padding: 8px 10px;
    background-color: rgba(0, 0, 0, 0.452);
    height: 47px;
    width: 100%;
    text-indent: 50px;
    margin-top:10px;
    vertical-align: middle;
}

label {
    font-size: .8rem;
    color: #000000;
    text-align: left;
}

.prefix {
    font-size: larger;
}

.no-justify {
    text-align: unset;
}

.rtxt {
    color: #970101;
}

.datepicker-date-display {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    background-color: rgb(87, 65, 207);
    color: #fff;
    font-weight: 500;
}

.datepicker-table td.is-selected, button, .btn:submit, td.is-selected, button:focus {
    background-color: rgb(87, 65, 207)!important;
    color: #fff;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: rgb(87, 65, 207);

}

.datepicker-table td.is-today, .datepicker-day-button.is-today {
    color: rgb(87, 65, 207);
    font-weight: 900;
    background-color: rgba(123, 123, 123, 0.25);
}

.datepicker-day-button:focus {
    background-color: rgba(43, 49, 161, 0.25);
    }

.datepicker-controls .select-month input {
    width: 70px;
    background-color: unset;
    }

.datepicker-controls .select-year input {
    width: 50px;
    background-color: unset;
    }

.datepicker-day-button {
    background-color: transparent;
    border: none;
    line-height: 35px;
    display: block;
    width: 100%;
    border-radius: 50%;
    padding: 0 5px;
    cursor: pointer;
    color: inherit;
    }

button:focus {
    outline: none;
    background-color: rgb(87, 65, 207);
    color: white;
    margin-bottom: 10px;
    }

.front_button {
    outline: none;
    background-color: rgb(87, 65, 207);
    color: white;
}


button.search {
    display: inline;
}

input[type=search]:not(.browser-default)::placeholder, textarea.materialize-textarea::placeholder {
    background-color: rgba(216, 216, 216, 0.541);
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 10px;
    outline: none;
    height: 1rem;
    width: 75%;
    font-size: 16px;
    margin: 0 0 8px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    color: rgba(57, 43, 139, 0.651);
    padding: 15px;
    display: inline;
    }

input.search {
    display: inline;
}

.input-field .prefix ~ textarea {
    border-radius: 10px;
    padding: 10px 10px;
    height: 80px;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(216, 216, 216);
}

.hidden {
    display: none;
}

label, input[type=text] {
    padding: 5px;
    text-indent: 10px;
}

a.clear {
    background-color: lightgrey;
    border: 1px solid rgb(197, 197, 197);
    color: black;
    text-shadow: white 0.5px 0.5px 1px;
    border-radius: 3px;
    font-size: 0.80rem;
    padding: 2px;
}

a.clear:hover {
    background-color: rgb(87, 65, 207);
    color: white;
    border: 1px solid rgb(87, 65, 207);
}


.noshadow-card {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}


div.spacer {
    height: 25px;
    width: 100%;
    background-color: white;
}






/*====================================================*/



/*================== MEDIA QUERIES ===================*/


@media only screen and (min-width: 1921px) {


    body {
      font-size: 2rem;
    }
    nav.nav-extended .nav-wrapper {
        height: 3rem!important;
    }
    nav .brand-logo {
        display: inline;
        white-space: nowrap;
        font-size: 3rem;
        position: absolute;
        color: #fff;
        display: inline-block;
        padding-left: 1rem;
        margin: unset;
    }

    nav ul a {
        -webkit-transition: background-color .3s;
        transition: background-color .3s;
        float: left;
        padding: 0;
        font-size: 2rem;
        padding-left: 1.5rem;
        padding-right: 0.5rem;
     }

    div.h1 {
        font-size: 2em!important;
        text-align: center!important;
        margin: 25px 0!important;
        display: inline-block!important;
        width: 100%;
    }
    
    div.event-title.indigo-text.text-lighten-1.collapsible-header, .collapsible {
        border:unset;
        box-shadow: unset;
        font-size: 2.2rem;
        display: block;
        border-bottom: unset;
        border-top: unset;
        width: 100%;
        padding-left: 0px;
        margin-left: 0px;
        text-indent: unset;
        text-align: center;
    }

    .collapsible-header, .collapsible-header p {
        font-size: 2rem;
        line-height: 2.5rem!important;
    }

    .event-align, .event-align a, .event-align p {
        color: rgb(214, 255, 255);
        line-height: 2rem;
        font-weight: 600;
        text-shadow: 2px 2px 2px rgba(15, 7, 58, 0.493);
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 0;
        }

    div.event-description {
        padding: 5px 5%;
        font-size: 1.8rem;
    }

    .page-padding {
        padding: 0 10%!important;
        }
    }


@media only screen and (min-width: 1365px max-width: 1999px) {
    body {
      font-size: 2rem;
    }

    nav .brand-logo {
        display: inline;
        white-space: nowrap;
        font-size: 2.5rem;
        position: absolute;
        color: #fff;
        display: inline-block;
        padding-left: 1rem;
        margin: unset;
    }

    div.h1 {
        font-size: 2.7em!important;
        text-align: center!important;
        margin: 25px 0!important;
        display: inline-block!important;
        width: 100%;
        }
    
    div.event-title.indigo-text.text-lighten-1.collapsible-header, .collapsible {
        border:unset;
        box-shadow: unset;
        font-size: 2.5rem;
        display: block;
        border-bottom: unset;
        border-top: unset;
        width: 100%;
        padding-left: 0px;
        margin-left: 0px;
        text-indent: unset;
        text-align: center;
    }

    .collapsible-header, .collapsible-header p {
        font-size: 1.5rem;
        line-height: 1.7rem!important;
    }

    .event-align, .event-align a, .event-align p {
        color: rgb(214, 255, 255);
        line-height: 1.7rem;
        font-weight: 600;
        text-shadow: 2px 2px 2px rgba(15, 7, 58, 0.493);
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-block-start: 0;
        margin-block-end: 0;
        }

    div.event-description {
        padding: 5px 5%;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1110px max-width: 1364px) {
    body {
      font-size: 1.3rem;
    }

    nav .brand-logo {
        display: inline;
        white-space: nowrap;
        font-size: 2rem;
        position: absolute;
        color: #fff;
        display: inline-block;
        padding-left: 1rem;
        margin: unset;
    }

    .jumbotron img {
        background-image: url(/static/images/image_1.jpg);
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
        max-height: 450px;
        min-height: 18vh;
        height: auto;
        width:auto;
        overflow-y: hidden;
    }
 

  div.h1 {
    font-size: 1.7em!important;
    text-align: center!important;
    margin: 25px 0!important;
    display: inline-block!important;
    width: 100%;
    }

    div.event-title.indigo-text.text-lighten-1.collapsible-header, .collapsible {
        border:unset;
        box-shadow: unset;
        font-size: 0.90rem;
        display: block;
        border-bottom: unset;
        border-top: unset;
        width: 100%;
        padding-left: 0px;
        margin-left: 0px;
        text-indent: unset;
        text-align: center;
}

    .event-title, .event-title a {
        color:rgb(255, 254, 222);
        font-weight: 700;
        text-shadow: 2px 2px 2px rgba(15, 7, 58, 0.493);
        text-align: center;
    }

    div.hightlight1 {
        color:lavender;
        text-align: left;
    }

    .description {
        border: unset;
    }
    
    .event-town, .top-spacing {
        display: block;
        padding: 7px;
    }
    
    .event-time, .event-date, .event-heading {
        display: block;
        padding: 0 2.5px;
        color:rgb(255, 252, 210);
        text-indent: 10px;
    }

    .event-link {
        word-wrap: break-word;
    }
    
    .event-type {
        display: block;
        padding: 0 5px;
        color:rgb(255, 255, 255);
    }
    .event-description {
        padding: 2.5px 5px;
    }

    .collapsible-body {
        display: none;
        border-bottom: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px;
    }

    .centered {
        margin: 0 5%;
       }

    .box-form {
    /* min-width: 60%; */
    width: auto;
    height: auto;
    padding: 15px 20px;
    border-radius: 15px;
    margin: 2% 5%;
    text-align: center;
    border-top: 2px white solid;
    border-left: 2px white solid;
    background-color: rgb(225, 225, 225);
    }

    .box {
        min-width: 90%;
        width:auto;
        height: auto;
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.555);
        padding:15px 20px;
        border-radius: 15px;
        display: flexbox;
        margin:2% 5%;
        text-align: center;
        border-top: 2px white solid;
        border-left: 2px white solid;
        background-color: rgb(226, 225, 225);
    } 

    .profile-label {
        margin-left: unset;
        padding: unset;
    
    }

    .show {
        display: block;
        z-index: 900;
        width: 100%;
    }

    .border-l-r {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
    
    div.spacer {
        height: 15px;
        width: 100%;
        background-color: white;
    }
}


@media only screen and (max-width: 440px) {
    body {
      font-size: 0.90rem;
    }

    nav .brand-logo {
        display: inline;
        white-space: nowrap;
        font-size: 1.7rem;
        position: absolute;
        color: #fff;
        display: inline-block;
        padding: 0;
        margin: unset;
    }

    .jumbotron img {
        background-image: url(/static/images/image_1.jpg);
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
        max-height: 450px;
        min-height: 18vh;
        height: auto;
        width:auto;
        overflow-y: hidden;
    }
 

  div.h1 {
    font-size: 1.4em!important;
    text-align: center!important;
    margin: 25px 0!important;
    display: inline-block!important;
    width: 100%;
    }




    div.event-title.indigo-text.text-lighten-1.collapsible-header, .collapsible {
        border:unset;
        box-shadow: unset;
        font-size: 0.90rem;
        display: block;
        border-bottom: unset;
        border-top: unset;
        width: 100%;
        padding-left: 0px;
        margin-left: 0px;
        text-indent: unset;
        text-align: center;
}

.event-title, .event-title a {
        color:rgb(255, 254, 222);
        font-weight: 700;
        text-shadow: 2px 2px 2px rgba(15, 7, 58, 0.493);
        text-align: center;
    }

    div.hightlight1 {
        color:lavender;
        text-align: left;
    }

    .description {
        border: unset;
    }
    
    .event-town, .top-spacing {
        display: block;
        padding: 7px;
    }
    
    .event-time, .event-date, .event-heading {
        display: block;
        padding: 0 2.5px;
        color:rgb(255, 252, 210);
        text-indent: 10px;
    }

    .event-link {
        word-wrap: break-word;
    }
    
    .event-type {
        display: block;
        padding: 0 5px;
        color:rgb(255, 255, 255);
    }
    .event-description {
        padding: 2.5px 5px;
    }

    .collapsible-body {
        display: none;
        border-bottom: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 5px;;
    }

    .centered {
        margin: 0 5%;
       }

    .box-form {
    /* min-width: 60%; */
    width: auto;
    height: auto;
    padding: 15px 20px;
    border-radius: 15px;
    margin: 2% 5%;
    text-align: center;
    border-top: 2px white solid;
    border-left: 2px white solid;
    background-color: rgb(225, 225, 225);
    }

    .box {
        min-width: 90%;
        width:auto;
        height: auto;
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.555);
        padding:15px 20px;
        border-radius: 15px;
        display: flexbox;
        margin:2% 5%;
        text-align: center;
        border-top: 2px white solid;
        border-left: 2px white solid;
        background-color: rgb(226, 225, 225);
    } 

    .profile-label {
        margin-left: unset;
        padding: unset;
    
    }

    .show {
        display: block;
        z-index: 900;
        width: 100%;
    }

    .border-l-r {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
    
    div.spacer {
        height: 15px;
        width: 100%;
        background-color: white;
    }
 }