{% extends "base.html" %}

{% block content %}

<div class="center h1">Contact Us</div>

        {% for message in get_flashed_messages() %}
            <h2 class="center green-text">{{ message }}</h2>
        {% endfor %}

        <div class="row centered">
            <div class="container m8 s12"></div>

            <div class="row">
                <form class="col m18 s12" method="POST" action="{{ url_for('contact_page') }}">    
                <!-- First name -->
                <div class="row white">
                    <div class="input-field col s12">
                        <i class="fas fa-user prefix"></i>
                        <input id="fname" name="fname" type="text" class="validate section scrollspy" minlength="2" maxlength="250" value="" pattern="^[a-zA-z0-9a-zA-z0-]{3,15}$" required>
                        <label for="fname">First Name</label>
                    </div>
                </div>
                 <!-- Lastname -->
                 <div class="row white">
                    <div class="input-field col s12">
                    <i class="prefix fa fa-user" aria-hidden="true"></i>
                    <input id="lname" name="lname" type="text" class="validate" minlength="2" maxlength="85" value="" pattern="^[a-zA-z0-9a-zA-z0-]{3,15}$" required>
                    <label for="lname">Your Lastname</label>
                    </div>
                </div>
                 <!-- Email Address -->
                 <div class="row white">
                    <div class="input-field col s12">
                    <i class="prefix fa fa-mouse-pointer" aria-hidden="true"></i>
                    <input id="email" name="email" type="text" class="validate" minlength="2" maxlength="85" value="" pattern="^[ /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/." required>
                    <label for="email">Email Address</label>
                    </div>
                </div>
                 <!-- User Phone Number -->
                 <div class="row white">
                    <div class="input-field col s12">
                    <i class="prefix fa fa-address-card" aria-hidden="true"></i>
                    <input id="phone" name="phone" type="text" class="validate" minlength="5" maxlength="100" pattern="^[0-9]{3,15}$" value="">
                    <label for="phone">Phone Number</label>
                    </div>
                </div>
                 <!-- User Subject -->
                 <div class="row white">
                    <div class="input-field col s12">
                    <i class="prefix fa fa-pencil" aria-hidden="true"></i>
                    <input id="subject" name="subject" type="text" class="validate" minlength="5" maxlength="200" value="" pattern="^[a-zA-z0-9-zA-z0-]{3,15}$" required>
                    <label for="subject">Subject</label>
                    </div>
                </div>
                 <!-- User Message -->
                 <div class="row white">
                    <div class="input-field col s12">
                    <i class="prefix fa fa-pencil" aria-hidden="true"></i>
                    <textarea id="message" name="message" type="text" class="validate" minlength="2" maxlength="500" value="" pattern="^[a-zA-z0-9a-zA-z0-]{3,15}$" required></textarea>
                    <label for="message">Message</label>
                    </div>
                </div>
                <!-- Submit Button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large indigo darken-1 text-white text-shadow"> Send Email <i class="right fa fa-check" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>


{% endblock content %}