{% extends "base.html" %}

{% block content %}

<div class="center h1">Edit Member</div>

<div class="section centered row green-text text-darken-6">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <h2 class="center green-text">{{ message }}</h2>
            {% endfor %}
        {% endif%}
    {% endwith %}
</div>

        <div class="row centered">
            <form class="s12 card noshadow-card m8" method="POST" action="{{ url_for('edit_member', user_id=user._id, username=user.username, user=user, users=users) }}">
                <!-- Username -->
                <div class="row white">
                    <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="username" name="username" type="text" class="validate scrollspy" minlength="2" maxlength="85" value="{{ user.username }}">
                    <label for="username" class="grey-text text-darken-3 center username profile-label">Nofiy the user before changing username</label>
                </div>
                </div>
                <!-- First name -->
                <div class="row white">
                    <div class="input-field col s12">
                        <i class="fas fa-user prefix"></i>
                        <input id="fname" name="fname" type="text" class="validate section scrollspy" minlength="2" maxlength="250" value="{{ user.fname|title }}">
                        <label for="fname">Name</label>
                    </div>
                </div>
                 <!-- Lastname -->
                 <div class="row white">
                    <div class="input-field col s12">
                    <i class="prefix fa fa-user" aria-hidden="true"></i>
                    <input id="lname" name="lname" type="text" class="validate" minlength="2" maxlength="85" value="{{ user.lname|title }}">
                    <label for="lname">Lastname</label>
                    </div>
                </div>
                 <!-- Email Address -->
                 <div class="row white">
                    <div class="input-field col s12">
                    <i class="prefix fa fa-mouse-pointer" aria-hidden="true"></i>
                    <input id="email" name="email" type="text" class="validate" minlength="2" maxlength="85" value="{{ user.email|lower }}">
                    <label for="email">Email Address</label>
                    </div>
                </div>
                 <!-- User Phone Number -->
                 <div class="row white">
                    <div class="input-field col s12">
                    <i class="prefix fa fa-address-card" aria-hidden="true"></i>
                    <input id="phone" name="phone" type="text" class="validate" minlength="5" maxlength="100" value="{{ user.phone }}">
                    <label for="phone">Phone Number</label>
                    </div>
                </div>
                <!-- User Address -->
                <div class="row white">
                    <div class="input-field col s12">
                        <i class="prefix fa fa-map-marker" aria-hidden="true"></i>
                        <input id="address_1" name="address_1" type="text" class="validate" minlength="1" maxlength="100" value="{{ user.address_1|title }}">
                        <label for="address_1">Address Line 1</label>
                    </div>
                </div>
                <div class="row white">
                    <div class="input-field col s12">
                        <i class="prefix fa fa-map-marker" aria-hidden="true"></i>
                        <input id="address_2" name="address_2" type="text" class="validate" minlength="5" maxlength="100" value="{{ user.address_2|title }}">
                        <label for="address_2">Address Line 2</label>
                    </div>
                </div>
                <div class="row white">
                    <div class="input-field col s12">
                        <i class="prefix fa fa-map-signs" aria-hidden="true"></i>
                        <input id="town" name="town" type="text" class="validate" minlength="5" maxlength="100" value="{{ user.town|title }}">
                        <label for="town">Town</label>
                    </div>
                </div>
                <div class="row white">
                    <div class="input-field col s12">
                        <i class="prefix fa fa-map-signs" aria-hidden="true"></i>
                        <input id="postcode" name="postcode" type="text" class="validate" minlength="5" maxlength="100" value="{{ user.postcode|upper }}">
                        <label for="postcode">Postcode</label>
                    </div>
                </div>
                <div class="row white">
                    <div class="input-field col s12">
                        <i class="prefix fa fa-map-signs" aria-hidden="true"></i>
                        <input id="user_id" name="user_id" type="text" class="validate" minlength="5" maxlength="100" value="{{ user._id }}" disabled>
                        <label for="user_id" class="white">User ID</label>
                    </div>
                </div>
            <!-- Verified email -->
            <div class="row">
                {% if user.verified == "yes" %}
                <span>Was the Member verfied? {{ user.verfied }}</span>
                <div class="input-field  col s12 switch">
                    <label for="verified">Verify? <span>&nbsp;No</span>
                    <input id="verified" name="verified" type="checkbox" checked>
                    <span class="lever"></span> <span>Yes <small>[Tick if Yes]</small></span></label>
                </div>
                {% else %}
                <span>Was the Member verfied? {{ user.verfied }}</span>
                <div class="input-field  col s12 switch">
                    <label for="verified">Verify? <span>&nbsp;No</span>
                    <input id="verified" name="verified" type="checkbox">
                    <span class="lever"></span><span>Yes <small>[Tick if Yes]</small></span></label>
                </div>
                {% endif %}
                </div>
            </div>

            <!-- Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('view_members') }}" class="btn-large grey darken-1 text-shadow white-text">Cancel</a>    
                    <button user="submit" class="btn-large indigo darken-1 text-white text-shadow">
                        Update Member <i class="right fa fa-check" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            </form>
        </div>

{% endblock content %}                     
