{% extends "base.html" %}

{% block content %}

<div class="center h1">Whats Happening, When??</div>
        {% for message in get_flashed_messages() %}
            <h2 class="center">{{ message }}</h2>
        {% endfor %}
        <div class="row card-pane page-padding ">
            <ul class="collapsible">
                {% for event in events %}
                <li>
                        <div class="event-title indigo lighten-1 collapsible-header ">
                            <i class="fa fa-arrow-right top-spacing" aria-hidden="true"></i> {{ event.event_type }}:&nbsp;&nbsp; 
                            <div class="event-heading">{{ event.event_title }}&nbsp;&nbsp; </div>
                            <div class="event-date">on {{ event.event_date }}&nbsp;&nbsp;  </div>
                            <div class="event-time">at {{ event.event_time }}&nbsp;&nbsp; </div>
                            <div class="event-town"><small> - in {{ event.event_location_town }}</small></div>
                        </div>
                        <div class="description  white lighten-5 row collapsible-body ">
                            <div class="event-description">
                                {% if event.event_paid_for == "true" %}
                                <h3>Event Entrance Fee: £ {{ event.event_entrance_fee }}</h3>
                                {% else %}
                                <h3>Entry is Free</h3>
                                {% endif %}
                                <h5>What is it?</h5>
                                <p>{{ event.event_description }}</p>
                                <p>{% if event.event_url %}
                                    Visit the link for more information:
                                    <a href="{{ event.event_url }}" target="_blank">{{ event.event_url }}</a> 
                                    {% endif %}</p>
                                <p><strong><em>* <small>Please ensure you contact the organiser if you are attending. They need to know how many people will be there.</small> *</em></strong></p>
                                
                                <h5>Where is it?</h5>
                                <p> {% if event.event_location_postcode or event.event_location_town or event.event_location_name%}
                                        {% if event.event_location_name %}
                                        {{ event.event_location_name }}<br>
                                        {% endif %}
                                        {% if event.event_location_town %}
                                        {{ event.event_location_town }}<br>
                                        {% endif %}
                                        {% if event.event_location_postcode %}
                                        {{ event.event_location_postcode }}<br>
                                        {% endif %}
                                        {% else %}
                                        Contact the organiser to find out where to go.
                                    {% endif %}
                                </p>
                            </div>
                            <div class="event-description">
                                {% if event.event_organiser %}
                                <p>Organiser: {{ event.event_organiser }}</p>
                                {% endif %}
                                {% if event.event_contact_details %}
                                <p>Contact details: {{ event.event_contact_details }}</p>
                                {% endif %}
                            </div>
                            {% if session.user %}
                                {% if (session.user|lower == event.added_by|lower) or (session.user|lower == 'admin') %}
                                <div class="row">
                                    <div class="col s3">
                                        <a href="{{ url_for('edit_event', event_id=event._id)}}" class="btn-small indigo lighten-3">Edit</a>
                                        <a href="{{ url_for('delete_event', event_id=event._id)}}" class="btn-small red darken-4 white-text">Delete</a>
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}
                        </div>
                </li>
                {% endfor %}
            </ul>
        </div>




{% endblock content %}