{% extends "base.html" %}

{% block jumbotron %}
{% endblock jumbotron %}

{% block content %}


<div id="section_one">
    <div class="h1">Welcome to Event Calendar</div>
    <div class="col m8 s12 centered">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <h2 class="center green-text">{{ message }}</h2>
                {% endfor %}
            {% endif%}
        {% endwith %}
        <p>
          This is the site to come to, to find out "Whats On!"
        </p>
        <p>
          As a visitor, you can search for an event by Town or Postcode. As a registered and logged in user you can Add, Edit and Delete your events.
        
        </p>
    </div>
</div>

<div id="section_two">
  <div class="overlay">
          <div class="benefits centered col m8 s12">
            <div class="h1">The Benefits of Signing up!</div>
            <div>
              <p>This is the one stop site for all the listings in your area! We don't charge to list an event.
                Its a community run site, that offers this service to enable people to connect. </p>
              <p>You can get fit and healthy while you're at it. Or enjoy some food and good conversation.<br>
                As a business you will get more coverage and give back to the community. As an individual looking for the next event, you will find something to ease your boredom and get you active.
              </p>
            </div >
            <div>
                <div class="col s6 ">
                    <a href="{{ url_for('sign_up')}}" class="btn-small front_button center"> Register </a>
                </div>
            </div>
          </div>
  </div>
</div>
{% endblock content %}
