{% extends "base.html" %}

{% block jumbotron %}
{% endblock jumbotron %}

{% block content %}
<section id="section_one">
  <h1 class="">Welcome to Event Calendar</h1>
  <form class="form-inline my-2 my-med-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <p>
    This is the site to come to, to find out "Whats On!"
  </p>
  <p>
    As a visitor, you can search for an event by Town or Postcode. As a registerd user you can Add, Edit and Delete your events.
  </p>
</section>
<section id="section_two">
  <div class="overlay">
  <h1 class="">Latest Event Listed</h1>
</div>
</section>
{% endblock content %}