{% extends "base.html" %}

{% block content %}

    {% for user in users %}
    {% if (session.user|lower == user.username|lower) %}

<div class="center h1">{{ user.username|capitalize }}'s Profile</div>


    <div class="section centered row green-text text-darken-6">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif%}
        {% endwith %}
    </div>

    <h3 class="center">You can Edit your profile here:</h3>
    

    <div class="centered box black-text">
        <form class="col s12 " method="GET" action="{{ url_for('profile', username=user.username)}}">
            <!-- Username -->
            <div class="row">
                <div class="div-field col s12">
                    <div id="username" name="username" type="text" class="validate" minlength="3" maxlength="90" value="{{ user.username|capitalize }}" disabled>{{ user.username|capitalize }}</div>
                    <label for="username" >Username</label>
                </div>
            </div>
            <!-- First name -->
            <div class="row">
                <div class="div-field col s12">
                    <div id="fname" name="fname" type="text" class="validate" minlength="3" maxlength="90" pattern="^[a-zA-z0-9]{3,15}$" value="{{ user.fname|capitalize }}">{{ user.fname|capitalize }}</div>
                    <label for="fname" >First Name</label>
                </div>
            </div>
            <!-- Last name -->
            <div class="row">
                <div class="div-field col s12">
                    <div id="lname" name="lname" type="text" class="validate" minlength="3" maxlength="90" pattern="^[a-zA-z0-9]{3,15}$" value="{{ user.lname|capitalize }}">{{ user.lname|capitalize }}</div>
                    <label for="lname" >Last Name</label>
                </div>
            </div>
            <!-- Email -->
            <div class="row">
                <div class="div-field col s12">
                    <div id="email" name="email" type="text" class="validate" minlength="3" maxlength="90" value="{{ user.email|lower }}">{{ user.email|lower }}</div>
                    <label for="email" >Email Address</label>
                </div>
            </div>
            <!-- Date of Birth - user must be 18 to sign up -->
            <div class="row">
                <div class="div-field col s12">
                    <div id="dob" name="dob" type="text" class="validate" minlength="3" maxlength="15" pattern="^[a-zA-z0-9]{3,15}$" disabled value="{{ user.dob }}">{{ user.dob }}</div>
                    <label for="dob" >Date of Birth</label>
                </div>
        </form>
    </div>
{% endif %}
    {% endfor %}

{% endblock content %}