{% extends "base.html" %}

{% block content %}

<h1 class="center-align">{{ username|capitalize }}'s Profile</h1>
{{ user_fname|capitalize }}

    <div class="section centered row green-text text-darken-6">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif%}
        {% endwith %}
    </div>


    <div class="box black-text">
        <i class="fas fa-user prefix -text text-darken-4"></i>
            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                    <div id="username" name="username" type="text" class="validate" minlength="3" maxlength="15" value="{{ username|capitalize }}">{{ username|capitalize }}</div>
                    <label for="username" >Username</label>
                </div>
            </div>
            <!-- First name -->
            <div class="row">
                <div class="input-field col s12">
                    <div id="fname" name="fname" type="text" class="validate" minlength="3" maxlength="15" pattern="^[a-zA-z0-9]{3,15}$" value="{{ username.fname|capitalize }}">{{ user.fname|capitalize }}</div>
                    <label for="fname" >First Name</label>
                </div>
            </div>
            <!-- Last name -->
            <div class="row">
                <div class="input-field col s12">
                    <div id="lname" name="lname" type="text" class="validate" minlength="3" maxlength="15" pattern="^[a-zA-z0-9]{3,15}$" value="{{ lname|capitalize }}">{{ username|capitalize }}</div>
                    <label for="lname" >Last Name</label>
                </div>
            </div>
            <!-- Email -->
            <div class="row">
                <div class="input-field col s12">
                    <div id="email" name="email" type="text" class="validate" minlength="3" maxlength="15" pattern="^[a-zA-z0-9]{3,15}$" value="{{ email|lower }}">{{ username|capitalize }}</div>
                    <label for="email" >Email Address</label>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <div id="password" name="password" type="password" class="validate" minlength="5" maxlength="15" pattern="^[a-zA-z0-9]{5,15}$" value="{{ password }}">{{ password }}</div>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- Date of Birth - user must be 18 to sign up -->
            <div class="row">
                <div class="input-field col s12">
                    <div id="dob" name="dob" type="text" class="validate" minlength="3" maxlength="15" pattern="^[a-zA-z0-9]{3,15}$" value="{{ dob }}">{{ dob }}</div>
                    <label for="dob" >Date of Birth</label>
                </div>
    </div>

{% endblock %}