{% extends "base.html" %}

{% block content %}

<div class="center h1">Sign Up!</div>

    <div class="section">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <h4 class="center">{{ message }}</h4>
                {% endfor %}
            {% endif%}
        {% endwith %}
    </div>

    <div class="box-form black-text">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up')}}">
            <i class="fas fa-user-plus prefix indigo-text text-darken-4"></i>
            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" class="validate white" minlength="3" maxlength="75" pattern="[a-zA-z0-9]{3,75}$" required>
                    <label for="username" >Username</label>
                </div>
            </div>
            <!-- First name -->
            <div class="row">
                <div class="input-field col s12">
                    
                    <input id="fname" name="fname" type="text" class="validate white" minlength="3" maxlength="85" pattern="[a-zA-z0-9]{3,85}$" required>
                    <label for="fname" >First Name</label>
                </div>
            </div>
            <!-- Last name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="lname" name="lname" type="text" class="validate white" minlength="3" maxlength="85" pattern="[a-zA-z0-9]{3,85}$" required>
                    <label for="lname" >Last Name</label>
                </div>
            </div>
            <!-- Email -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="text" class="validate white" minlength="3" maxlength="75" pattern="^[a-zA-Z0-9._^$%£*;/=&`{|}~]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
                    <label for="email" >Email Address</label>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate white" minlength="5" maxlength="50" required>
                    <label for="password">Password</label>
                    <span>* <small>Minimum length 5 characters</small> *</span>
                </div>
            </div>
            <!-- Submit -->
            <div class="centered"><button type="submit" class="col s6 btn-large indigo white-text text-shadow centered">Sign Up <i class="fas fa-sign-in-alt"></i></button></div>
        </form>
    </div>

{% endblock %}