{% extends "base.html" %}

{% block content %}

    <h1 class="center-align">The Event Types Available</h1>

        {% for message in get_flashed_messages() %}
            <h2 class="center">{{ message }}</h2>
        {% endfor %}

        <div class="row page-padding ">
            {% for type in types %}
            <div class="col xl3 l4 m6 s12">
                <div class="event-title indigo lighten-1">
                    <i class="top-spacing" aria-hidden="true"></i>
                    <div class="white-text">
                        {{ type.type_name }}
                    </div>
                </div>
                <div class="description indigo lighten-2 white-text">
                    <div class="type-description">
                        <p>{{ type.type_description }}</p>
                    </div>
                    <div class="center bottom">
                        {% if session.user %}
                            {% if (session.user|lower == type.added_by|lower) or (session.user|lower == 'admin') %}
                                    <a href="{{ url_for('edit_type', type_id=type._id)}}" class="btn-small indigo center">Edit</a>
                                    <a href="{{ url_for('delete_type', type_id=type._id)}}" class="btn-small red darken-4 white-text center">Delete</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div><br>
            </div>
            
            {% endfor %}
        </div>
{% endblock content %}