{% extends "base.html" %}

{% block content %}

<div class="center h1">Email Verification</div>

<div class="section">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="centered">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif%}
    {% endwith %}
</div>

<div class="box-form black-text">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('verify_email', username=username)}}">
        <p>Please Verify Your Email Address</p>
        <!-- Username -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-plus prefix"></i>
                <input id="username" name="username" type="text" class="validate white" minlength="3" maxlength="75" pattern="^[a-zA-z0-9]{3,75}$" required>
                <label for="username" >Username</label>
                <span>* <small>Your username is case sensitive</small> *</span>
            </div>
        </div>
        <!-- email -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-plus prefix"></i>
                <input id="email" name="email" type="text" class="validate white" minlength="3" maxlength="75" pattern="^[a-zA-Z0-9._^$%£*;/=&`{|}~]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required>
                <label for="email" >Email Address</label>
            </div>
        </div>
        <!-- Password -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-user-lock prefix"></i>
                <input id="password" name="password" type="password" class="validate white" minlength="5" maxlength="50" required>
                <label for="password">Password</label>
            </div>
        </div>
            <!-- Verified email -->
            <div class="row hidden">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix"></i>
                    <input id="verified" name="verified" type="verified" class="validate white" minlength="5" maxlength="50" value="yes" required>
                    <label for="verified">Password</label>
                </div>
            </div>
        <!-- Submit -->
        <div class="">
            <button type="submit" class="col s6 btn-large indigo white-text text-shadow centered"> Verify Email <i class="fas fa-sign-in-alt"></i></button>
        </div>
    </form>
</div>

{% endblock %}