{% extends "base.html" %}

{% block content %}

<div class="center h1">BeThere! Event Members</div>

<div class="section centered row green-text text-darken-6">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <h2 class="center green-text">{{ message }}</h2>
            {% endfor %}
        {% endif%}
    {% endwith %}
</div>

<div class="centered">
    <table class="row xl10 m8 s12">
        <thead>
            <tr class="user-table">
                <th>
                    <tr >
                        {% for user in users %}
                        {% if session.user == 'admin' %}
                        <td class="col xl12 l12 m12 s12 user-background">
                            <div class="user-table ">
                                <div class="left col xl8 l10 m12 s12">
                                    <h3><a href="{{ url_for('edit_user', username=user.username, user=user, users=users) }}">{{ user.username }}</a></h3>
                                </div>
                                <div class="col l12 m8 s12">
                                    <div class="left user-description xl8 l6 m9 s12">
                                        <a href="{{ url_for('edit_user', username=user.username, user=user, users=users) }}">{{ user.email }}</a>
                                    </div>
                                    <div class="left user-description xl8 l6 m9 s12">
                                        <a href="{{ url_for('edit_user', username=user.username, user=user, users=users) }}">{{ user.verified }}</a>
                                    </div>
                                    <div class="col xl2 l3 m3 s12 right user-buttons">
                                        <a href="{{ url_for('edit_user', username=user.username, user=user, users=users) }}" class="btn-small indigo center">Edit</a> &nbsp; &nbsp; &nbsp;
                                        <a href="{{ url_for('delete_user', username=user.username, user=user, users=users) }}" class="btn-small red darken-4 white-text center">Delete</a>
                                    </div>
                                </div>
                            </div>           
                        </td>
                        {% else %}
                        <h2>If you are unable to see the members list then you don't have authorisation.</h2>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </th>
            </tr>
        </thead>
    </table>
</div>
        

{% endblock content %}